/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_tog_layer {
            key-positions = <1 4>;
            timeout-ms = <50>;
            bindings = <&tog 1>;
        };
        combo_down {
            key-positions = <3 5>;
            timeout-ms = <50>;
            bindings = <&kp DOWN>;
            layers = <1>;
        };

    };

    keymap {
        compatible = "zmk,keymap";


        default_layer {
            bindings = <
                &lt 1 E     &kp W     &kp E
                &kp A       &kp S     &kp D
            >;
        };

        presentation_layer {
            bindings = <
                &lt 2 ESC  &kp UP     &kp RET
                &kp LEFT   &kp SPACE  &kp RIGHT
            >;
        };

        layer_2 {
            bindings = <
                &trans        &bt BT_PRV    &bt BT_NXT
                &out OUT_TOG  &bt BT_CLR    &mo 3
            >;
        };

        layer_3 {
            bindings = <
                &none &bootloader &studio_unlock
                &none &trans      &none
            >;
        };

        extra1 {};

        extra2 {};
    };
};
